/* Your styles here */
body {
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  max-width: 500px;
  font-family: "Open Sans", sans-serif;
  color: #393d41;
  font-size: 1.2rem;
  line-height: 1.65em;
}
h1,
h2,
h3,
h4 {
  color: #25a2c3;
  line-height: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 1em;
}
img {
  max-width: 100%;
}

h1 {
  padding-top: 1.5em;
  padding-bottom: 0.5em;
  font-size: 2em;
  line-height: 1em;
  margin: 0;
}

#box-logo {
  width: 100%;
  height: 5em;
  background-color: black;
}

#box-logo img {
  width: 10rem;
  padding: 1em;
}
button {
  background-color: #f04c2f;
  color: white;
  width: 9em;
  height: 3em;
  border-radius: 3px;
  border: 1px #f04c2f;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-top: 3.5em;
  cursor: pointer;
}

#corso_web_dev {
  background-image: url(/images/banner.jpg);
  background-position: center;
  background-size: cover;
  height: 22em;
}
#info-corso :first-child {
  margin-top: 3.5em;
}
#info-corso p {
  margin-bottom: 4em;
}

#red-banner {
  height: 20em;
  background-color: #e22d0e;
  color: white;

  padding-top: 3.5em;
  padding-bottom: 0;
}
#red-banner h2 {
  color: white;
  font-size: 2em;
}

#red-banner h4 {
  color: white;
}
#text-image p {
  margin: 0;
}
#pic-info-corso img {
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

footer {
  background-color: #25a2c3;
  color: white;
  padding: 2.5em;
}
footer p {
  margin-top: 2em;
}
address {
  margin-bottom: 2em;
}
footer h2 {
  color: white;
  font-size: 2em;
}
footer a {
  color: white;
}

.flash-cards {
  border: 1px solid #dee1e3;
  border-radius: 3px;
  margin-top: 2em;
}

#cards-container {
  padding: 2em;
}
.flash-cards:last-of-type {
  margin-bottom: 2em;
}

.flash-cards img {
  border-radius: 3px 3px 0 0;
  margin-bottom: 1em;
}
.flash-cards p {
  margin-bottom: 2em;
}
